In [47]:
import pandas as pd

In [48]:
data = pd.read_csv("D:\British_Airways_Reviews.csv")
data.drop(columns=["Unnamed: 0"],inplace=True)
data

,Date Flown,Reviews,Ratings Provided,Country,Travelled Class,Recommended Type
0,26th May 2024,✅ Trip Verified | A premium price for a sub-p...,5,United Kingdom,Business Class,no
1,20th May 2024,✅ Trip Verified | Really terrible user experi...,3,United States,Economy Class,no
2,18th May 2024,✅ Trip Verified | Very impressed with BA. Chec...,3,United Kingdom,Economy Class,Yes
3,14th May 2024,"✅ Trip Verified | LHR - SFO, LAS - LGW August...",9,United Kingdom,Business Class,no
4,8th May 2024,Not Verified | I flew from Malaga via LHR to...,3,Canada,Economy Class,no
...,...,...,...,...,...,...
3794,29th August 2012,LHR-JFK-LAX-LHR. Check in was ok apart from be...,8,United Kingdom,Economy Class,no
3795,28th August 2012,LHR to HAM. Purser addresses all club passenge...,9,United Kingdom,Business Class,Yes
3796,12th October 2011,My son who had worked for British Airways urge...,8,United Kingdom,Economy Class,Yes
3797,11th October 2011,London City-New York JFK via Shannon on A318 b...,10,United States,Premium Economy,no
3798,9th October 2011,SIN-LHR BA12 B747-436 First Class. Old aircraf...,8,United Kingdom,First Class,no

In [49]:
## Separating Is the trip is verified (i.e) Does the customer actually travelled
data["Verified"] =  data["Reviews"].str.contains("Trip Verified")
data["Verified"] = data["Verified"].replace({True: "Verified", False: "Not Verified"})
data

,Date Flown,Reviews,Ratings Provided,Country,Travelled Class,Recommended Type,Verified
0,26th May 2024,✅ Trip Verified | A premium price for a sub-p...,5,United Kingdom,Business Class,no,Verified
1,20th May 2024,✅ Trip Verified | Really terrible user experi...,3,United States,Economy Class,no,Verified
2,18th May 2024,✅ Trip Verified | Very impressed with BA. Chec...,3,United Kingdom,Economy Class,Yes,Verified
3,14th May 2024,"✅ Trip Verified | LHR - SFO, LAS - LGW August...",9,United Kingdom,Business Class,no,Verified
4,8th May 2024,Not Verified | I flew from Malaga via LHR to...,3,Canada,Economy Class,no,Not Verified
...,...,...,...,...,...,...,...
3794,29th August 2012,LHR-JFK-LAX-LHR. Check in was ok apart from be...,8,United Kingdom,Economy Class,no,Not Verified
3795,28th August 2012,LHR to HAM. Purser addresses all club passenge...,9,United Kingdom,Business Class,Yes,Not Verified
3796,12th October 2011,My son who had worked for British Airways urge...,8,United Kingdom,Economy Class,Yes,Not Verified
3797,11th October 2011,London City-New York JFK via Shannon on A318 b...,10,United States,Premium Economy,no,Not Verified
3798,9th October 2011,SIN-LHR BA12 B747-436 First Class. Old aircraf...,8,United Kingdom,First Class,no,Not Verified

In [50]:
## Removing Trip verified from Reviews
data["Reviews"] = data["Reviews"].str.strip("✅ Trip Verified |")
data

,Date Flown,Reviews,Ratings Provided,Country,Travelled Class,Recommended Type,Verified
0,26th May 2024,A premium price for a sub-par product - flew B...,5,United Kingdom,Business Class,no,Verified
1,20th May 2024,Really terrible user experience. British Airwa...,3,United States,Economy Class,no,Verified
2,18th May 2024,y impressed with BA. Check in online was a lit...,3,United Kingdom,Economy Class,Yes,Verified
3,14th May 2024,"LHR - SFO, LAS - LGW August 2023 in Club World...",9,United Kingdom,Business Class,no,Verified
4,8th May 2024,Not Verified | I flew from Malaga via LHR to...,3,Canada,Economy Class,no,Not Verified
...,...,...,...,...,...,...,...
3794,29th August 2012,LHR-JFK-LAX-LHR. Check in was ok apart from be...,8,United Kingdom,Economy Class,no,Not Verified
3795,28th August 2012,LHR to HAM. Purser addresses all club passenge...,9,United Kingdom,Business Class,Yes,Not Verified
3796,12th October 2011,My son who had worked for British Airways urge...,8,United Kingdom,Economy Class,Yes,Not Verified
3797,11th October 2011,London City-New York JFK via Shannon on A318 b...,10,United States,Premium Economy,no,Not Verified
3798,9th October 2011,SIN-LHR BA12 B747-436 First Class. Old aircraf...,8,United Kingdom,First Class,no,Not Verified

In [51]:
## Replacing no by No
data["Recommended Type"] = data["Recommended Type"].replace({"no":"No"})
data

,Date Flown,Reviews,Ratings Provided,Country,Travelled Class,Recommended Type,Verified
0,26th May 2024,A premium price for a sub-par product - flew B...,5,United Kingdom,Business Class,No,Verified
1,20th May 2024,Really terrible user experience. British Airwa...,3,United States,Economy Class,No,Verified
2,18th May 2024,y impressed with BA. Check in online was a lit...,3,United Kingdom,Economy Class,Yes,Verified
3,14th May 2024,"LHR - SFO, LAS - LGW August 2023 in Club World...",9,United Kingdom,Business Class,No,Verified
4,8th May 2024,Not Verified | I flew from Malaga via LHR to...,3,Canada,Economy Class,No,Not Verified
...,...,...,...,...,...,...,...
3794,29th August 2012,LHR-JFK-LAX-LHR. Check in was ok apart from be...,8,United Kingdom,Economy Class,No,Not Verified
3795,28th August 2012,LHR to HAM. Purser addresses all club passenge...,9,United Kingdom,Business Class,Yes,Not Verified
3796,12th October 2011,My son who had worked for British Airways urge...,8,United Kingdom,Economy Class,Yes,Not Verified
3797,11th October 2011,London City-New York JFK via Shannon on A318 b...,10,United States,Premium Economy,No,Not Verified
3798,9th October 2011,SIN-LHR BA12 B747-436 First Class. Old aircraf...,8,United Kingdom,First Class,No,Not Verified

In [52]:
## Converting the date into datetime format
data["Date Flown"] = pd.to_datetime(data["Date Flown"])
data

,Date Flown,Reviews,Ratings Provided,Country,Travelled Class,Recommended Type,Verified
0,2024-05-26,A premium price for a sub-par product - flew B...,5,United Kingdom,Business Class,No,Verified
1,2024-05-20,Really terrible user experience. British Airwa...,3,United States,Economy Class,No,Verified
2,2024-05-18,y impressed with BA. Check in online was a lit...,3,United Kingdom,Economy Class,Yes,Verified
3,2024-05-14,"LHR - SFO, LAS - LGW August 2023 in Club World...",9,United Kingdom,Business Class,No,Verified
4,2024-05-08,Not Verified | I flew from Malaga via LHR to...,3,Canada,Economy Class,No,Not Verified
...,...,...,...,...,...,...,...
3794,2012-08-29,LHR-JFK-LAX-LHR. Check in was ok apart from be...,8,United Kingdom,Economy Class,No,Not Verified
3795,2012-08-28,LHR to HAM. Purser addresses all club passenge...,9,United Kingdom,Business Class,Yes,Not Verified
3796,2011-10-12,My son who had worked for British Airways urge...,8,United Kingdom,Economy Class,Yes,Not Verified
3797,2011-10-11,London City-New York JFK via Shannon on A318 b...,10,United States,Premium Economy,No,Not Verified
3798,2011-10-09,SIN-LHR BA12 B747-436 First Class. Old aircraf...,8,United Kingdom,First Class,No,Not Verified

In [53]:
## Checking Null values 
data.isnull().value_counts()

Date Flown  Reviews  Ratings Provided  Country  Travelled Class  Recommended Type  Verified
False       False    False             False    False            False             False       3795
                                                True             False             False          2
                                       True     False            False             False          2
dtype: int64

In [54]:
data.dropna(inplace=True)
data.isnull().value_counts()

Date Flown  Reviews  Ratings Provided  Country  Travelled Class  Recommended Type  Verified
False       False    False             False    False            False             False       3795
dtype: int64

In [55]:
## Cleaning reviews removing extra characters than a-z then lowering the characters then removing the stopwords and lemmatizing the word
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import re
lemmatizer = WordNetLemmatizer()
reviews = []
for item in data["Reviews"]:
    item = re.sub('[^a-zA-Z]',' ', item)
    item = item.lower()
    tokens = word_tokenize(item)
    item = [lemmatizer.lemmatize(word)for word in tokens if word not in set(stopwords.words("english"))]
    item  = " ".join(item)
    reviews.append(item)
data["Cleaned Reviews"] = reviews
data

,Date Flown,Reviews,Ratings Provided,Country,Travelled Class,Recommended Type,Verified,Cleaned Reviews
0,2024-05-26,A premium price for a sub-par product - flew B...,5,United Kingdom,Business Class,No,Verified,premium price sub par product flew ba lhr hkg ...
1,2024-05-20,Really terrible user experience. British Airwa...,3,United States,Economy Class,No,Verified,really terrible user experience british airway...
2,2024-05-18,y impressed with BA. Check in online was a lit...,3,United Kingdom,Economy Class,Yes,Verified,impressed ba check online little convoluted ev...
3,2024-05-14,"LHR - SFO, LAS - LGW August 2023 in Club World...",9,United Kingdom,Business Class,No,Verified,lhr sfo la lgw august club world shame british...
4,2024-05-08,Not Verified | I flew from Malaga via LHR to...,3,Canada,Economy Class,No,Not Verified,verified flew malaga via lhr boston th may arr...
...,...,...,...,...,...,...,...,...
3794,2012-08-29,LHR-JFK-LAX-LHR. Check in was ok apart from be...,8,United Kingdom,Economy Class,No,Not Verified,lhr jfk lax lhr check ok apart snapped early c...
3795,2012-08-28,LHR to HAM. Purser addresses all club passenge...,9,United Kingdom,Business Class,Yes,Not Verified,lhr ham purser address club passenger name boa...
3796,2011-10-12,My son who had worked for British Airways urge...,8,United Kingdom,Economy Class,Yes,Not Verified,son worked british airway urged fly british ai...
3797,2011-10-11,London City-New York JFK via Shannon on A318 b...,10,United States,Premium Economy,No,Not Verified,london city new york jfk via shannon really ni...
3798,2011-10-09,SIN-LHR BA12 B747-436 First Class. Old aircraf...,8,United Kingdom,First Class,No,Not Verified,sin lhr ba b first class old aircraft seat pri...

In [56]:
data.to_csv("D:"+ "/Cleaned_British_Airways_Reviews.csv")