In [36]:
## Predicting the sentiment of reviews 
from nltk.sentiment.vader import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()
def analyse_sentiment(text):
    scores = analyzer.polarity_scores(text)
    if scores["compound"] >= 0.2:
        return "Positive"
    if scores["compound"] <= 0:
        return "Negative"
    else:
        return "Neutral"

In [37]:
import pandas as pd
data = pd.read_csv("D:\Cleaned_British_Airways_Reviews.csv",index_col=0)
data

      Date Flown  ...                                    Cleaned Reviews
0     2024-05-26  ...  premium price sub par product flew ba lhr hkg ...
1     2024-05-20  ...  really terrible user experience british airway...
2     2024-05-18  ...  impressed ba check online little convoluted ev...
3     2024-05-14  ...  lhr sfo la lgw august club world shame british...
4     2024-05-08  ...  verified flew malaga via lhr boston th may arr...
...          ...  ...                                                ...
3794  2012-08-29  ...  lhr jfk lax lhr check ok apart snapped early c...
3795  2012-08-28  ...  lhr ham purser address club passenger name boa...
3796  2011-10-12  ...  son worked british airway urged fly british ai...
3797  2011-10-11  ...  london city new york jfk via shannon really ni...
3798  2011-10-09  ...  sin lhr ba b first class old aircraft seat pri...

[3795 rows x 8 columns]

In [38]:
sentiment = []
for text in data["Cleaned Reviews"]:
    sent = analyse_sentiment(text)
    sentiment.append(sent)
data["Sentiment"] = sentiment
data

      Date Flown  ... Sentiment
0     2024-05-26  ...  Negative
1     2024-05-20  ...  Negative
2     2024-05-18  ...  Positive
3     2024-05-14  ...  Positive
4     2024-05-08  ...  Negative
...          ...  ...       ...
3794  2012-08-29  ...  Positive
3795  2012-08-28  ...  Positive
3796  2011-10-12  ...  Positive
3797  2011-10-11  ...  Positive
3798  2011-10-09  ...  Negative

[3795 rows x 9 columns]

In [39]:
data["Sentiment"].value_counts()

Positive    2425
Negative    1265
Neutral      105
Name: Sentiment, dtype: int64

In [40]:
data.to_csv("D:"+ "/Sentiment_British_Airways_Reviews.csv")

In [41]:
data["Travelled Class"].unique()

array(['Business Class', 'Economy Class', 'Premium Economy',
       'First Class'], dtype=object)